<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=320px, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="mobile-web-app-capable" content="yes">
<title>P2C Assistant</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link rel="stylesheet" href="../static/chkbox.css"> <!-- load fontawesome -->

<style>
html, body {
    max-width: 100%;
    overflow-x: hidden;    
</style>

<script>
  
var products = [];
var cust = [];
var custinfo = [];
var inf;
var infc;
var productlist = [];

function readNfc() {
document.getElementById("nfcinfo").innerHTML = "Scan Product NFC to begin...";
  if ('nfc' in navigator) {
    navigator.nfc.watch(function (message) {
        //document.getElementById('nfcinfo').innerHTML = ('NFC API supported!');
        var messagedata = message["records"][0]["data"]
        result = JSON.parse(messagedata); 
        if(result.P1 !== undefined){
            alert("Scanned QR - Product!"+"\n"+messagedata);
            document.getElementById('products').innerHTML = "";
            clearinfo();
            inf = JSON.parse(messagedata);
            document.getElementById('station').innerHTML = inf.P2;
            productlist = inf.P4.split(",");
            for (i=0;i<productlist.length;i++){
                var label= document.createElement("label");
                var description = document.createTextNode(productlist[i]);
                var checkbox = document.createElement("input");

                checkbox.type = "checkbox";    
                checkbox.name = "productselection";      
                checkbox.value = productlist[i];        

                label.appendChild(checkbox);   
                label.appendChild(description);
                document.getElementById('products').appendChild(label);
            };
            document.getElementById("nfcinfo").innerHTML = "Select product and scan custinfo.";
        };

        if(result.C1 !== undefined && productlist[0] === undefined){
            alert("Scan Product First!")
        }

        if(result.C1 !== undefined && productlist[0] !== undefined){
            alert("Scanned QR -Customer!"+"\n"+messagedata);
            infc = JSON.parse(messagedata);
            if(infc.C8!==""){
                custinfo.push(infc.C1+"_"+infc.C2+'*');
            }else{
                 custinfo.push(infc.C1+"_"+infc.C2);
            }
            document.getElementById("cust").innerHTML=custinfo;
            for (i=0;i<document.getElementsByName("productselection").length;i++){
                if (document.getElementsByName("productselection")[i].checked=== true){
                    var puid = productlist[i].split('(')[1].split(')')[0]
                    var pname = productlist[i].split('(')[1].split(')')[1]
                    var suid = inf.P3.split('(')[1].split(')')[0]
                    var sname = inf.P3.split('(')[1].split(')')[1]
                cust.push(inf.P1,inf.P2,suid,sname,puid,pname,                                  ///in tag (6)
                    inf.Div_Mobile,inf.Sales_Manager,inf.Sales_Email,inf.Sales_Mobile,          ///to lookup (4)
                    infc.C1,infc.C2,infc.C3,infc.C4,infc.C5,infc.C6,infc.C7,infc.C8,infc.C9,infc.C10,Date.now().toString(),'#');  ///intag (11)
                }
            }
            document.getElementById("sendcustomers").value = cust
        };

      }, {mode: 'any'})
  } else {
    document.getElementById('nfcinfo').innerHTML = ('NFC API not supported...');
  }
}  

function clearinfo() {
    document.getElementById("products").innerHTML="";
    document.getElementById("cust").innerHTML="";
    document.getElementById("station").innerHTML="";
    document.getElementById("nfcinfo").innerHTML="Scan Product NFC to begin...";
    products = [];
    productlist = [];
    puid = [];
    pname = [];
    suid = [];
    sname = [];
    cust = [];
    custinfo = [];
    inf = [];
    infc = [];
}

function addcust1(){
    infc = JSON.parse(document.getElementById("custinfo1").innerHTML);
    custinfo.push(infc.C1+"_"+infc.C2);
    document.getElementById("cust").innerHTML=custinfo;
    for (i=0;i<document.getElementsByName("productselection").length;i++){
        if (document.getElementsByName("productselection")[i].checked=== true){
            var puid = productlist[i].split('(')[1].split(')')[0]
            var pname = productlist[i].split('(')[1].split(')')[1]
            var suid = inf.P3.split('(')[1].split(')')[0]
            var sname = inf.P3.split('(')[1].split(')')[1]
        cust.push(inf.P1,inf.P2,suid,sname,puid,pname,                                  ///in tag (6)
            inf.Div,inf.DH,inf.DH_email,inf.DH_mobile,inf.SM,inf.SM_email,inf.SM_mobile,          ///to lookup (7)
            infc.C1,infc.C2,infc.C3,infc.C4,infc.C5,infc.C6,infc.C7,infc.C8,infc.C9,infc.C10,Date.now().toString(),'#');  ///intag (11)
        }
    }
    document.getElementById("sendcustomers").value = cust
}

function addcust2(){
    infc = JSON.parse(document.getElementById("custinfo2").innerHTML);
    custinfo.push(infc.C1+"_"+infc.C2);
    document.getElementById("cust").innerHTML=custinfo;
    for (i=0;i<document.getElementsByName("productselection").length;i++){
        if (document.getElementsByName("productselection")[i].checked=== true){
            var puid = productlist[i].split('(')[1].split(')')[0]
            var pname = productlist[i].split('(')[1].split(')')[1]
            var suid = inf.P3.split('(')[1].split(')')[0]
            var sname = inf.P3.split('(')[1].split(')')[1]
        cust.push(inf.P1,inf.P2,suid,sname,puid,pname,                                  ///in tag (6)
            inf.Div,inf.DH,inf.DH_email,inf.DH_mobile,inf.SM,inf.SM_email,inf.SM_mobile,          ///to lookup (7)
            infc.C1,infc.C2,infc.C3,infc.C4,infc.C5,infc.C6,infc.C7,infc.C8,infc.C9,infc.C10,Date.now().toString(),'#');  ///intag (11)
        }
    }
    document.getElementById("sendcustomers").value = cust
}
</script>

</head>
<body onload="readNfc();">
<div id="con" style="margin-top:5%">   
<div class="page-header text-center">
    <h1><span><img src='../static/3M.png' alt="3M logo"  width="5.5%"></span>&nbsp P2C Assistant </h1>
    <span id = "nfcinfo"></span>
</div>

<div class="row">
<span id="info" style="margin-left:15%"></span>
<p align='center'><b>Product</b></p>
<div style="margin-left:15%;margin-right:15%;overflow-wrap: break-word;" id="station"></div>
<div style="margin-left:15%;margin-right:15%;overflow-wrap: break-word;" id="products"></div>
<p align='center'><b>Customers</b></p>
<div style="margin-left:15%;margin-right:15%;overflow-wrap: break-word;" id="cust"></div>
</div>



<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6">
    
</div>
<div class="col-xs-3"></div>
</div>

<form action="/index" method="post">
<input type="hidden" id="sendproduct" name="product" value ="fdfd">
<input type="hidden" id="sendcustomers" name="customers" value= <%= Date.now() %>>

<div class="row">
<div>
    <button style="float: left;margin-left:15%" type="button" class="btn" value="0" onclick="clearinfo()">Clear Data&nbsp</button>
    <button id ="submit" type="submit" style="float: right;margin-right:15%" type="button" class="btn btn-success">&nbspSend Data</button>
</div>
</div>
</form>

</div>
</div>
<div id="justpadding" width=100% style="padding-bottom:100%"></div>
</body>
</html>
