<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=320px, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="mobile-web-app-capable" content="yes">
<title>Customer Sentiment Analyzer</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
<link rel="stylesheet" href="../static/chkbox.css"> <!-- load fontawesome -->

<style>
html, body {
    max-width: 100%;
    overflow-x: hidden;    
</style>

<script>
  
var products = [];
var cust = [];
var custinfo = [];
var inf;
var infc;

function readNfc() {


var label= document.createElement("label");
var description = document.createTextNode("pair");
var checkbox = document.createElement("input");

checkbox.type = "checkbox";    // make the element a checkbox
checkbox.name = "productselection";      // give it a name we can check on the server side
checkbox.value = "pair";         // make its value "pair"
checkbox.className = "styled"

label.appendChild(checkbox);   // add the box to the element
label.appendChild(description);// add the description to the element

// add the label element to your div
document.getElementById('products').appendChild(label);
 
  if ('nfc' in navigator) {
    document.getElementById("nfcinfo").innerHTML = "Scan Product NFC to begin...";
    navigator.nfc.watch(function (message) {
        //document.getElementById('nfcinfo').innerHTML = ('NFC API supported!');
        var messagedata = message["records"][0]["data"]
        alert("Read NFC - Product!"+"\n"+messagedata)
        inf = JSON.parse(messagedata);
        document.getElementById("products").innerHTML = inf.P4;
      }, {mode: 'any'})
  } else {
    document.getElementById('nfcinfo').innerHTML = ('NFC API not supported...');
  }
}  

function clearinfo() {
    //document.getElementById("info").innerHTML="Click to read another code..";
    document.getElementById("products").innerHTML="";
    document.getElementById("cust").innerHTML="";
    products = [];
    cust = [];
    custinfo = [];
    inf = [];
    infc = [];
}
</script>

</head>
<body onload="readNfc();">
<div id="con" style="margin-top:5%">   
<div class="page-header text-center">
    <h1><span><img src='../static/3M.png' alt="3M logo"  width="5.5%"></span>&nbsp P2C Assistant </h1>
    <span id = "nfcinfo"></span>
</div>

<div class="row">
<span id="info" style="margin-left:15%"></span>
<p align='center'><b>Product</b></p>
<div style="margin-left:15%;margin-right:15%;overflow-wrap: break-word;" id="products"></div>
<p align='center'><b>Customers</b></p>
<div style="margin-left:15%;margin-right:15%;overflow-wrap: break-word;" id="cust"></div>
</div>



<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6">
    
</div>
<div class="col-xs-3"></div>
</div>

<form action="/index" method="post">
<input type="hidden" id="sendproduct" name="product" value ="fdfd">
<input type="hidden" id="sendcustomers" name="customers" value= <%= Date.now() %>>

<div class="row">
<div>
    <button style="float: left;margin-left:15%" type="button" class="btn" value="0" onclick="clearinfo()">Clear Data&nbsp</button>
    <button id ="submit" type="submit" style="float: right;margin-right:15%" type="button" class="btn btn-success">&nbspSend Data</button>
</div>
</div>


</form>

</div>
</div>
<div id="productinfo">{"P1":"Singapore","P2":"Healthcare","P3":"Healthcare","P4":"3M™ Littmann® Cardiology IV™ Stethoscope,3M™ Particulate Respirator 8511,Scotch® Glass Cloth Electrical Tape 27"}</div>
<div id="custinfo">{"C1":"Clement","C2":"Lork","C3":"IPP Student","C4":"SUTD","C5":"8 Somapah Road","C6":"clement_lork@mymail.sutd.edu.sg","C7":"91294371","C8":"Johnathan Tay","C9":"jktay@mmm.com","C10":"98420267"}</div>
<div id="justpadding" width=100% style="padding-bottom:50%"></div>
</body>
</html>
