<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Customer Sentiment Analyzer</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

<style>
    body        { padding-top:80px; }
</style>

<script src="../bower/qcode-decoder/build/qcode-decoder.min.js"></script>
<script>
  
var products = [];
var cust = [];
var custinfo = [];
var inf;
var infc;

function readNfc() {
  if ('nfc' in navigator) {
    navigator.nfc.watch(function (message) {
        var messagedata = message["records"][0]["data"]
        document.getElementById('nfcinfo').innerHTML = messagedata
      }, {mode: 'any'})
  } else {
    document.getElementById('nfcinfo').innerHTML('NFC API not supported.');
  }
}  

function read() {
var video1 = document.getElementById("video");
var qr = new QCodeDecoder();
QCodeDecoder()
  .decodeFromVideo(video1, function (err, result) {
    if (err) document.getElementById("info").innerHTML= err;
    document.getElementById("info").innerHTML=result;
    alert("scanned!");
    if (JSON.parse(result).Product_Name !== undefined || JSON.parse(result).Product_Name !== null){
        inf = JSON.parse(result);
        document.getElementById("products").innerHTML = inf.Product_Name;
    };
    if (JSON.parse(result).First_Name !== undefined || JSON.parse(result).First_name !== undefined){
        infc = JSON.parse(result)
        custinfo.push(infc.First_Name+"_"+infc.Last_Name);
        document.getElementById("cust").innerHTML=custinfo;
        cust.push(inf.Product_Name,inf.Country,inf.Division,inf.Division_Head,inf.DH_Email_Add,inf.DH_Mobile_No,inf.Sales_Person,inf.SP_Email_Add,inf.SP_Mobile_No,
        infc.First_Name,infc.Last_Name,infc.Job_Title,infc.Company_Name,infc.Company_Add,infc.Email_Add,infc.Office_No,infc.Mobile_No,Date.now().toString(),'#');
        document.getElementById("sendcustomers").value = cust
    };
  }, true);
}
function clearinfo() {
    document.getElementById("info").innerHTML="Click to read another code..";
    document.getElementById("products").innerHTML="";
    document.getElementById("cust").innerHTML="";
    products = [];
    cust = [];
    custinfo = [];
    inf = [];
    infc = [];
}

</script>

</head>
<body onload="init();readNFC();">
<div class="container">

<div class="page-header text-center">
    <h1><span><img src='../static/3M.png' alt="3M logo"  width="5.5%"></span>&nbsp P2C Assistant </h1>
</div>

<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
    <video onclick="read()" style="margin-left:auto;margin-right:auto;display:block;width:80%;" autoplay playsinline id ="video" capture="environment"></video>
    <div id = 'errorMsg'></div>
</div>
<div class="col-md-3">
<p align='center'><b>Product</b></p>
<div id="products"></div>
<p align='center'><b>Customers</b></p>
<div id="cust"></div>
</div>
</div>


<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6">
    <div onlick="clearinfo()" id="info" "margin-left:auto">Click on QR code to read...</div>
    <div style="margin-top: 15px;margin-bottom: 15px;"> Click to tag as: </div>
</div>
<div class="col-xs-3"></div>
</div>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="../static/webrtcvideo.js"></script>



<form action="/index" method="post">
<input type="hidden" id="sendproduct" name="product" value ="fdfd">
<input type="hidden" id="sendcustomers" name="customers" value= <%= Date.now() %>>

<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6">
    <button style="float: left;" type="button" class="btn btn-primary" onclick="tagproduct()">Product&nbsp&nbsp&nbsp&nbsp&nbsp</button>   
    <button style="float: right;" type="button" class="btn btn-danger" onclick="tagcust()">&nbsp&nbspCustomer</button> 
</div>
<div class="col-xs-3"></div>
</div>

<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6" style="height: 15px;></div>
<div class="col-xs-3"></div>
</div>

<div class="row">
<div class="col-xs-4"></div>
<div class="col-xs-4">
    <button style="float: left;" type="button" class="btn" value="0" onclick="clearinfo()">Clear Data&nbsp</button>
    <button id ="submit" type="submit" style="float: right;" type="button" class="btn btn-success">&nbspSend Data</button>
</div>
<div class="col-xs-4"></div>
</div>


</form>

<div class="row">
<div class="col-xs-3"></div>
<div class="col-xs-6" style="height: 15px;></div>
<div class="col-xs-3"></div>
</div>

<div class="row">
<div class="col-md-6"><div id="pinfo" style="float:left;">{ "Product_Name":"Channel Lighting System", "Country":"Singapore", "Division":"Electrical Markets Division", "Division_Head":"Andrew Ong", "DH_Email_Add":"andrew.ong@mmm.com", "DH_Mobile_No":"97639857", "Sales_Person":"Johnathan Tay", "SP_Email_Add":"jktay@mmm.com", "SP_Mobile_No":"98420267" }</div></div>
<div class="col-md-6"><div id="cinfo" style="float:right;">{ "First_Name":"Clement", "Last_Name":"Lork", "Job_Title":"IPP Student", "Company_Name":"Singapore University of Technology and Design", "Company_Add":"8 Somapah Road Singapore 487372", "Email_Add":"clement_lork@mymail.sutd.edu.sg", "Office_No":"", "Mobile_No":"91294371" }</div></div>
</div>

<pre id="log"></pre>
<div id="nfcinfo"></div>

</div>
</body>
</html>
