<!-- views/index.ejs -->
<!doctype html>
<html>
<head>

<title>Customer Feedback</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

<style>
    body        { padding-top:80px; }
</style>

<script src="../bower/qcode-decoder/build/qcode-decoder.min.js"></script>

</head>
<body>
<div class="container">

<div class="page-header text-center">
    <h1><span><img src='../static/3M.png' alt="3M logo"  width="5.5%"></span>&nbsp Sentience </h1>
</div>

<div> 
    <video style="margin-left:auto;margin-right:auto;display:block" autoplay="true" id ="productinfo" width= "50%" capture="environment"></video>
</div>

<script>
var video = document.querySelector("#productinfo");
 
if (navigator.mediaDevices.getUserMedia) {       
    navigator.mediaDevices.getUserMedia({video: true, facingMode: "environment"})
  .then(function(stream) {
    video.srcObject = stream;
  })
  .catch(function(err0r) {
    console.log("Something went wrong!");
  });
}
var qr = new QCodeDecoder();

QCodeDecoder()
  .decodeFromVideo(video, function (err, result) {
    if (err) throw err;
    alert(result);
  }, true);

</script>

</div>
</body>
</html>
